@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Aurora, 446<br />
    Ribeirão Preto, SP 14050-100<br />
    <abbr title="Telefone">F:</abbr>
    (16) 2111-9898
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:smarrh.suporte@smarapd.com.br">SMARrh.Suporte@smarapd.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@smarapd.com.br">Marketing@smarapd.com.br</a>
</address>