@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grupo de Estudos .NET</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Aplicação Exemplo</h2>
        <p>
            Essa aplicação exemplo destina-se a apresentar o uso dos Controllers MVC para redirecionar rotas e aplicar POST entre páginas.
    </div>
</div>